@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica-Bold";
  src: url("./assets/fonts/Helvetica-Bold.ttf");  
}

@font-face {
  font-family: "Helvetica-Light";
  src: url("./assets/fonts/helvetica-light-587ebe5a59211.ttf");  
}

@font-face {
  font-family: "Helvetica-Oblique";
  src: url("./assets/fonts/Helvetica-Oblique.ttf");  
}

@font-face {
  font-family: "Helvetica";
  src: url("./assets/fonts/Helvetica.ttf");  
}

/* body {
  @apply
} */

h1 {
  @apply font-Inter
}

h2 {
  @apply font-Helvetica
}

nav {
  @apply bg-[#0D0D0D] text-white flex justify-between items-center px-40 py-4
}

nav ul {
  @apply flex gap-6
}

nav ul .active {
  @apply text-[#FF9F0D]
}